.outline-2 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
.outline-3 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
.outline-4 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
.outline-6 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
.outline-6 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
.outline-7 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
.outline-8 h2,h3,h4,h5,h6 {
	padding-top:50px;
	margin-top:-50px;
}
