<div>
  <div class="post" id="tags">
    <h1>Tag Index</h1>
    <ul class="org-ul">
      {{#tags}}
        <li><a href="{{tag-uri}}">{{tag-name}} ({{count}})</a></li>
      {{/tags}}
    </ul>
  </div>
</div>

<div id="myCanvasContainer">
<canvas width="600" height="400" id="myCanvas">
<p>Anything in here will be replaced on browsers that support the canvas element</p>
</canvas>
</div>
