<div class="home">
    <h1 class="page-heading">{{cat-name}} Index</h1>
    <ul class="post-list">
      {{#posts}}
        <li>{{date}}&nbsp;&nbsp;»&nbsp;&nbsp;<a href="{{post-uri}}">{{post-title}}</a></li>
      {{/posts}}
    </ul>
</div>