<head>
<title>{{page-title}}</title>
<meta charset="utf-8"/>
<meta name="author" content="{{author}}"/>
{{#description}}
<meta name="description" content="{{description}}"/>
{{/description}}
{{#keywords}}
<meta name="keywords" content="{{keywords}}"/>
{{/keywords}}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/media/css/main.css">
<script>
function timeformat(raw) {
         return moment(raw).format("YYYY/MM/DD");
}
</script>
<script src="/media/js/moment.js"></script>

</head>
